#version: "3.8"
services:
  backend:
    env_file:
      - .env
    build:
      context: ./vendor/laravel/sail/runtimes/8.2
      dockerfile: Dockerfile
      args:
        WWWGROUP: '${WWWGROUP}'
    image: sail-8.2/app
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '8000:8000'
      - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
      - '6001:6001'
    environment:
      WWWUSER: '${WWWUSER}'
      SUPERVISOR_PHP_USER: '${DB_USERNAME}'
      LARAVEL_SAIL: 1
      XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
      XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
      IGNITION_LOCAL_SITES_PATH: '${PWD}'
    volumes:
      - '.:/var/www/html/backend'
      - './storage:/var/www/html/storage'
    networks:
      - sail
    depends_on:
      - mysql
    #            - redis
    restart: unless-stopped
  #
  #    dashboard:
  #        build:
  #            context: ../dashboard
  #            dockerfile: Dockerfile
  #        ports:
  #            - '9090:9090'
  #        volumes:
  #            - '../dashboard:/var/www/html/dashboard'
  #        depends_on:
  #            - backend
  #        networks:
  #            - sail
  #        restart: unless-stopped

  #    vito:
  #        build:
  #            context: ../vito-project
  #            dockerfile: Dockerfile
  #        ports:
  #            - '9099:9099'
  #        volumes:
  #            - '../vito-project:/var/www/html/vito-project'
  #        networks:
  #            - sail
  #        restart: unless-stopped

  nginx:
    build:
      context: ../nginx
      dockerfile: Dockerfile
    ports:
      - '80:80'
    volumes:
      - '../dashboard:/usr/share/nginx/dashboard'
      - '../qr:/usr/share/nginx/qr'
      - '../orders/:/usr/share/nginx/orders'
      - '../tablet/:/usr/share/nginx/tablet'
    environment:
      SERVER_IP: 192.168.8.102
    networks:
      - sail
    restart: unless-stopped

  mysql:
    env_file:
      - .env
    image: 'mysql/mysql-server:8.0'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'sail-mysql:/var/lib/mysql'
      - './vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
    networks:
      - sail
    healthcheck:
      test:
        CMD
        mysqladmin
        ping
        '-p${DB_PASSWORD}'
      retries: 3
      timeout: 5s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    links:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
    restart: unless-stopped
    ports:
      - 8085:80
    networks:
      - sail

  redis:
    env_file:
      - .env
    image: 'redis:alpine'
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'sail-redis:/data'
    networks:
      - sail
    healthcheck:
      test:
        CMD
        redis-cli
        ping
      retries: 3
      timeout: 5s
    restart: unless-stopped

  thumbor:
    image: beeyev/thumbor-s3:debian
    ports:
      - "9999:8888"
    volumes:
      - ./storage/app/public:/var/www/html/images
      - ./thumbor_storage:/var/www/html/thumbor_storage  # Mount the storage directory
      - ./logs/thumbor:/var/log/thumbor
    environment:
      - LOADER=thumbor.loaders.file_loader
      - FILE_LOADER_ROOT_PATH=/var/www/html/images
      - LOADER_MIMETYPES=image/jpeg,image/png,image/gif
      - STORAGE=thumbor.storages.file_storage
      - STORAGE_ROOT_PATH=/var/www/html/thumbor_storage
      - MAX_SOURCE_SIZE=10485760  # 10MB
      - ALLOW_UNSAFE_URL=True
      - ENABLE_ETAGS=True
      - RESPECT_ORIENTATION=True
      - ALLOW_ANIMATED_GIFS=True
      - ALLOWED_SOURCES=['menu-ai.net','finemenu.net']
      - PROGRESSIVE_JPEG=True
      - QUALITY=92
      - PNG_COMPRESSION_LEVEL=9
      - AUTO_WEBP=True
    restart: unless-stopped
    networks:
      - sail


  imgshalehi:
    image: beeyev/thumbor-s3:debian
    ports:
      - "8787:8888"
    environment:
      - ALLOWED_SOURCES=['api.shalehi.com']
      - HTTP_LOADER_ALLOWED_SOURCES=['api.shalehi.com','menu-ai.net','finemenu.net']
      - HTTP_LOADER_FORWARD_ALLOWED_SOURCES=true
      - MAX_SOURCE_SIZE=10485760  # 10MB
      - ALLOW_UNSAFE_URL=True
      - ENABLE_ETAGS=True
      - RESPECT_ORIENTATION=True
      - ALLOW_ANIMATED_GIFS=True
      - PROGRESSIVE_JPEG=True
      - QUALITY=100
      - PNG_COMPRESSION_LEVEL=9
      - AUTO_WEBP=True
      - SECURITY_CORS_ENABLED=True
      - SECURITY_CORS_ALLOW_ORIGIN=*
      - SECURITY_CORS_ALLOW_HEADERS=accept, accept-version, content-type, origin
      - SECURITY_CORS_ALLOW_METHODS=GET
    restart: unless-stopped
    networks:
      - sail

  imgbarq:
    image: beeyev/thumbor-s3:debian
    ports:
      - "8686:8888"
    environment:
      - ALLOWED_SOURCES=['api.barq.solutions']
      - HTTP_LOADER_ALLOWED_SOURCES=['api.barq.solutions','menu-ai.net','finemenu.net']
      - HTTP_LOADER_FORWARD_ALLOWED_SOURCES=true
      - MAX_SOURCE_SIZE=10485760  # 10MB
      - ALLOW_UNSAFE_URL=True
      - ENABLE_ETAGS=True
      - RESPECT_ORIENTATION=True
      - ALLOW_ANIMATED_GIFS=True
      - PROGRESSIVE_JPEG=True
      - QUALITY=100
      - PNG_COMPRESSION_LEVEL=9
      - AUTO_WEBP=True
      - SECURITY_CORS_ENABLED=True
      - SECURITY_CORS_ALLOW_ORIGIN=*
      - SECURITY_CORS_ALLOW_HEADERS=accept, accept-version, content-type, origin
      - SECURITY_CORS_ALLOW_METHODS=GET
    restart: unless-stopped
    networks:
      - sail


  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins
    ports:
      - "8080:8080"
    volumes:
      - ../qr:/var/jenkins_home/workspace/BarqSolutions/QR/menuai-qr/build/web
      - ../orders:/var/jenkins_home/workspace/DeployOrders/menuai-orders/build/web
      - ../tablet:/var/jenkins_home/workspace/DeployTablet/menuai-tablet/build/web
      - ../dashboard:/var/jenkins_home/workspace/BarqSolutions/Dashboard/finemenu-dashboard/dist
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
#
#    imgproxy:
#        image: darthsim/imgproxy
#        ports:
#            - "9999:8080"
#        environment:
#            IMGPROXY_KEY: 0189f3c50ac42edd5a2dc5a83092eade7b1b41148b0997860c22acf2a09d61ee
#            IMGPROXY_SALT: cf755c9ebac65e2ce6df62037773bb60a39b3895cb299dcb46aee6bc78937c88
#            IMGPROXY_LOCAL_FILESYSTEM_ROOT: /var/www/html/storage/app/public
#        volumes:
#            - ./storage/app/public:/var/www/html/storage/app/public
#        restart: unless-stopped
#        networks:
#            - sail

networks:
  sail:
    driver: bridge
volumes:
  sail-mysql:
    driver: local
  sail-redis:
    driver: local

